{% import '../macros/skill.html' as skill %}
{% include '../vars/resume.html' %}

<section class="resume-screen">
  <div class="container">
    <div class="split-bar">
      <span class="danger"></span>
      <span class="primary"></span>
      <span class="info"></span>
      <span class="success"></span>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-sm-6">
        <div class="box">
          <h1 class="author">Nguyen Tien Minh</h1>
          <h4 class="job-title">
            Fullstack web developer
            <a class="pull-right" href="http://oeminhnt.github.io/resume/"><small><u>online version</u></small></a>
          </h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box">
          <ul class="fa-ul list-contact">
            <li><i class="fa-li fa fa-lg fa-map-marker"></i>Hanoi, Vietnam</li>
            <li><i class="fa-li fa fa-lg fa-mobile"></i>(+84) 911556248</li>
            <li><i class="fa-li fa fa-envelope-o"></i>minhnt.hut@gmail.com</li>
            <li><i class="fa-li fa fa-skype"></i>minhnt.hut</li>
          </ul>
          <div class="clearfix"></div>
          <div class="msg">
            <p>
              I am a web developer based in Hanoi.
              If you feel interested in my little CV, please get in touch with me via email.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="box box-primary">
          <h4 class="title">work experence</h4>
          {{skill.history(resume.history)}}
        </div>
        <div class="box box-danger">
          <h4 class="title">featured projects</h4>
          <ul class="column">
            {{skill.project(resume.projects)}}
            <li>
              <div>
                <label>
                  <a href="http://leanneodea.com.au/">Leanne O'Dea</a>
                  and
                  <a href="http://bowraodea.com.au/">Bowra & O'Dea:</a>
                </label>
                Pyramid, Kotti, PostgreSQL
              </div>
              <p class="work-title">- Cremation and funeral service , 100% same,
              only different data</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box box-success">
          <h4 class="title">Work Methodology</h4>
          {{skill.method(resume.methodology)}}
          <div class="clearfix"></div>
        </div>
        <div class="box box-flowed">
          <h4 class="title">Soft skill</h4>
          {{skill.method(resume.soft)}}
          <div class="clearfix"></div>
        </div>
        <div class="box box-flowed">
          <h4 class="title">Self</h4>
          {{skill.self(resume.self)}}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="box box-info">
      <h4 class="title">Technologies</h4>
      {{skill.technology(resume.frontend)}}
      <div class="divider divider-line"></div>
      {{skill.technology(resume.js)}}
      <div class="divider divider-line"></div>
      {{skill.technology(resume.php)}}
      <div class="divider divider-line"></div>
      {{skill.technology(resume.db)}}
      <div class="divider divider-line"></div>
      {{skill.technology(resume.server)}}
      <div class="divider divider-line"></div>
      {{skill.technology(resume.tool)}}
    </div>
    <div class="box">
      <h4 class="title">Other</h4>
      {{skill.other(resume.others)}}
    </div>
    <div class="box footer">
      {% include '../layouts/components/copyright.html' %}
    </div>

  </div>
</section>
