body {
  color: @fontColor;
  font-family: @fontFamily;
  .font-light;
  font-size: 14px;
  background-color: @bg;
  overflow: -moz-scrollbars-none;

  @media @ltMoblet {
    font-size: 14px;
  }
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  &, &:focus, &:active, &:hover {
    outline: 0;
    text-decoration: none;
    color: inherit;
  }
}

::-webkit-scrollbar {
  display: none;
}

::scroll-bar {
  display: none;
}

::-moz-selection {
  background-color: @black;
  color: @white;
}

::selection {
  background-color: @black;
  color: @white;
}
/***** GENERAL *****/
p {
  .pb;
  .nvm;
}

.primary {
  color: @primary;
}
.success {
  color: @success;
}
.info {
  color: @info;
}
.danger {
  color: @danger;
}

.split-bar {
  .primary {
    background: @primary;
  }
  .success {
    background: @success;
  }
  .info {
    background: @info;
  }
  .danger {
    background: @danger;
  }

  > span {
    height: 8px;
    float: left;
    width: 25%;
  }
}
.divider {
  display: block;
  clear: both;
  width: 100%;
  height: 30px;

  &.divider-line {
    background: @border-color;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.box {
  float: left;
  width: 100%;
  background: @white;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-top: 8px solid transparent;

  &.box-primary {
    border-top-color: @primary;
  }
  &.box-danger {
    border-top-color: @danger;
  }
  &.box-success {
    border-top-color: @success;
  }
  &.box-info {
    border-top-color: @info;
  }

  &.box-flowed {
    margin-bottom: 13px;
  }
}
.author {
  .font-bold;
  text-transform: uppercase;
}
.job-title {
  .font-thin;
  font-style: italic;
}
.title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.list-contact {
  li {
    float: left;
    width: 50%;
  }
}

.msg {
  font-style: italic;
  margin-top: 15px;
  p {
    padding-bottom: 3px;
  }
}
.column {
  list-style: none;
  padding: 0;
  clear: both;
  li {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    min-height: 22px;
  }

  &.x3 {
    li {
      width: 100%/3;
    }
  }
}
.work-location {
  label {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}
.work-title {
  font-style: italic;
  margin-bottom: 8px;
}

.method {
  float: left;
  width: 100%;
  .method-name,
  .method-value {
    width: 49%;
    float: left;
    display: block;

    .fa-star {
      color: @primary;
    }
    .fa-star-o {
      color: #bbb;
    }
  }
}



.footer {
  background-color: @white;
  padding: 5px 0 0;
  .copyright {
    text-align: center;
  }
}


