@charset "UTF-8";
.font-sub {
  font-family: "Roboto Condensed";
}
.font-thin {
  font-weight: 100;
}
@media only screen and (max-width: 991px) {
  .font-thin {
    font-weight: 300;
  }
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-xs {
  font-size: 14px;
  line-height: 20px;
}
.font-sm {
  font-size: 16px;
  line-height: 24px;
}
.font-md {
  font-size: 24px;
  line-height: 30px;
}
.font-lg {
  font-size: 30px;
  line-height: 38px;
}
.font-xl {
  font-size: 48px;
  line-height: 60px;
}
.font-xxl {
  font-size: 60px;
  line-height: 1em;
}
.text-white {
  color: #fff;
}
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.bg-full {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-black {
  background-color: #282828;
}
.vmiddle-inline {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vmiddle {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.pdin-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pb {
  padding-bottom: 10px;
}
.pt {
  padding-top: 10px;
}
.nvp {
  padding-top: 0;
  padding-bottom: 0;
}
.nm {
  margin: 0;
}
.nvm {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: #565656;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #f0f2f3;
  overflow: -moz-scrollbars-none;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a,
a:focus,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}
::scroll-bar {
  display: none;
}
::-moz-selection {
  background-color: #333;
  color: #fff;
}
::selection {
  background-color: #333;
  color: #fff;
}
/***** GENERAL *****/
p {
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.split-bar .primary {
  background: #0aa69a;
}
.split-bar .success {
  background: #15b9d6;
}
.split-bar .info {
  background: #a272b2;
}
.split-bar .danger {
  background: #f45958;
}
.split-bar > span {
  height: 8px;
  float: left;
  width: 25%;
}
.divider {
  display: block;
  clear: both;
  width: 100%;
  height: 30px;
}
.box {
  background: #fff;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-top: 8px solid transparent;
}
.box.box-primary {
  border-top-color: #0aa69a;
}
.box.box-danger {
  border-top-color: #f45958;
}
.box.box-success {
  border-top-color: #15b9d6;
}
.box.box-info {
  border-top-color: #a272b2;
}
.box.box-flowed {
  margin-bottom: 10px;
}
.author {
  font-weight: 700;
}
.job-title {
  font-weight: 100;
  font-style: italic;
}
@media only screen and (max-width: 991px) {
  .job-title {
    font-weight: 300;
  }
}
.title {
  margin-top: 0;
  text-transform: uppercase;
}
.column {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.work-location label {
  font-size: 1.2em;
  text-transform: uppercase;
}
.work-title {
  font-style: italic;
  margin-bottom: 10px;
}
.method {
  float: left;
  width: 100%;
}
.method .method-name,
.method .method-value {
  width: 49%;
  float: left;
  display: block;
}
.footer {
  background-color: #fff;
  padding: 5px 0 0;
}
.footer .copyright {
  text-align: center;
}
